In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Lettura dei dati e stampa

In [2]:
df = pd.read_csv("../Desktop/appointment_data.csv")

In [3]:
df

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,No,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,No,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,No,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,No,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [4]:
y=df['No-show']
X=df.drop("No-show", axis=1)

In [5]:
y

0         No
1         No
2        Yes
3         No
4         No
        ...
88416     No
88417     No
88418     No
88419     No
88420     No
Name: No-show, Length: 88421, dtype: object

In [6]:
X

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

# Splitto

In [7]:
train_X,val_X,train_y,val_y=train_test_split(X,y,random_state=0)

In [8]:
val_X

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
43077,1.167239e+11,5778236,M,2016-06-06T15:14:21Z,2016-06-08T00:00:00Z,9,INHANGUETÁ,0,0,0,0,0,0
44486,2.375498e+13,5739813,M,2016-05-25T14:10:29Z,2016-05-30T00:00:00Z,50,ANDORINHAS,0,0,1,0,0,1
25328,9.435712e+10,5683899,F,2016-05-11T08:00:20Z,2016-05-11T00:00:00Z,69,JARDIM CAMBURI,0,0,0,0,0,0
31341,8.277442e+13,5688382,F,2016-05-12T07:19:39Z,2016-05-16T00:00:00Z,22,FORTE SÃO JOÃO,0,0,0,0,0,0
19054,1.812426e+14,5707554,F,2016-05-17T09:47:04Z,2016-05-17T00:00:00Z,1,REDENÇÃO,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19077,5.536134e+14,5645162,F,2016-05-02T09:33:04Z,2016-05-18T00:00:00Z,9,DO MOSCOSO,0,0,0,0,0,0
8714,8.873752e+14,5697393,F,2016-05-13T15:43:41Z,2016-05-20T00:00:00Z,6,CRUZAMENTO,0,0,0,0,0,0
18740,2.948428e+14,5622058,F,2016-04-26T11:16:09Z,2016-05-04T00:00:00Z,50,JARDIM CAMBURI,0,0,0,0,0,1
19717,8.622669e+13,5717386,M,2016-05-19T07:54:32Z,2016-05-19T00:00:00Z,15,JARDIM CAMBURI,0,0,0,0,0,0
26194,1.246589e+13,5723664,M,2016-05-20T08:29:12Z,2016-05-20T00:00:00Z,58,ITARARÉ,0,0,0,1,0,0

In [9]:
train_X

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
13211,2.247937e+12,5587761,F,2016-04-15T09:03:51Z,2016-05-18T00:00:00Z,29,SANTA MARTHA,0,0,0,0,0,0
64095,7.894582e+11,5774796,F,2016-06-06T08:41:45Z,2016-06-06T00:00:00Z,5,JOANA D´ARC,0,0,0,0,0,0
26796,3.967220e+14,5605217,M,2016-04-20T08:44:47Z,2016-05-10T00:00:00Z,64,JARDIM DA PENHA,0,0,0,0,0,1
55905,6.663786e+14,5720245,F,2016-05-19T13:31:38Z,2016-05-19T00:00:00Z,66,PRAIA DO CANTO,0,1,0,0,0,0
69730,1.835776e+12,5742007,M,2016-05-30T07:38:58Z,2016-05-30T00:00:00Z,72,RESISTÊNCIA,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21243,7.868846e+12,5721432,F,2016-05-19T16:26:59Z,2016-06-02T00:00:00Z,11,SANTOS DUMONT,0,0,0,0,0,1
45891,7.711876e+13,5607080,M,2016-04-20T11:03:44Z,2016-05-11T00:00:00Z,50,TABUAZEIRO,0,1,1,0,0,1
42613,6.293825e+14,5758142,F,2016-06-01T10:19:43Z,2016-06-01T00:00:00Z,42,ANDORINHAS,0,0,0,0,0,0
43567,3.824988e+12,5579699,M,2016-04-13T15:26:38Z,2016-05-05T00:00:00Z,13,BELA VISTA,0,0,0,0,0,1
68268,5.899838e+12,5693376,M,2016-05-13T07:10:57Z,2016-05-13T00:00:00Z,12,JESUS DE NAZARETH,0,0,0,0,0,0

In [10]:
train_y

13211    Yes
64095     No
26796     No
55905     No
69730     No
        ...
21243     No
45891     No
42613     No
43567    Yes
68268     No
Name: No-show, Length: 66315, dtype: object

In [11]:
val_y

43077    No
44486    No
25328    No
31341    No
19054    No
         ..
19077    No
8714     No
18740    No
19717    No
26194    No
Name: No-show, Length: 22106, dtype: object

# creo tabella per train.csv

In [12]:
train = train_X.join(train_y)
train

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
13211,2.247937e+12,5587761,F,2016-04-15T09:03:51Z,2016-05-18T00:00:00Z,29,SANTA MARTHA,0,0,0,0,0,0,Yes
64095,7.894582e+11,5774796,F,2016-06-06T08:41:45Z,2016-06-06T00:00:00Z,5,JOANA D´ARC,0,0,0,0,0,0,No
26796,3.967220e+14,5605217,M,2016-04-20T08:44:47Z,2016-05-10T00:00:00Z,64,JARDIM DA PENHA,0,0,0,0,0,1,No
55905,6.663786e+14,5720245,F,2016-05-19T13:31:38Z,2016-05-19T00:00:00Z,66,PRAIA DO CANTO,0,1,0,0,0,0,No
69730,1.835776e+12,5742007,M,2016-05-30T07:38:58Z,2016-05-30T00:00:00Z,72,RESISTÊNCIA,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21243,7.868846e+12,5721432,F,2016-05-19T16:26:59Z,2016-06-02T00:00:00Z,11,SANTOS DUMONT,0,0,0,0,0,1,No
45891,7.711876e+13,5607080,M,2016-04-20T11:03:44Z,2016-05-11T00:00:00Z,50,TABUAZEIRO,0,1,1,0,0,1,No
42613,6.293825e+14,5758142,F,2016-06-01T10:19:43Z,2016-06-01T00:00:00Z,42,ANDORINHAS,0,0,0,0,0,0,No
43567,3.824988e+12,5579699,M,2016-04-13T15:26:38Z,2016-05-05T00:00:00Z,13,BELA VISTA,0,0,0,0,0,1,Yes
68268,5.899838e+12,5693376,M,2016-05-13T07:10:57Z,2016-05-13T00:00:00Z,12,JESUS DE NAZARETH,0,0,0,0,0,0,No

# Creo tabella per test.csv

In [13]:
test = val_X.join(val_y)
test

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
43077,1.167239e+11,5778236,M,2016-06-06T15:14:21Z,2016-06-08T00:00:00Z,9,INHANGUETÁ,0,0,0,0,0,0,No
44486,2.375498e+13,5739813,M,2016-05-25T14:10:29Z,2016-05-30T00:00:00Z,50,ANDORINHAS,0,0,1,0,0,1,No
25328,9.435712e+10,5683899,F,2016-05-11T08:00:20Z,2016-05-11T00:00:00Z,69,JARDIM CAMBURI,0,0,0,0,0,0,No
31341,8.277442e+13,5688382,F,2016-05-12T07:19:39Z,2016-05-16T00:00:00Z,22,FORTE SÃO JOÃO,0,0,0,0,0,0,No
19054,1.812426e+14,5707554,F,2016-05-17T09:47:04Z,2016-05-17T00:00:00Z,1,REDENÇÃO,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19077,5.536134e+14,5645162,F,2016-05-02T09:33:04Z,2016-05-18T00:00:00Z,9,DO MOSCOSO,0,0,0,0,0,0,No
8714,8.873752e+14,5697393,F,2016-05-13T15:43:41Z,2016-05-20T00:00:00Z,6,CRUZAMENTO,0,0,0,0,0,0,No
18740,2.948428e+14,5622058,F,2016-04-26T11:16:09Z,2016-05-04T00:00:00Z,50,JARDIM CAMBURI,0,0,0,0,0,1,No
19717,8.622669e+13,5717386,M,2016-05-19T07:54:32Z,2016-05-19T00:00:00Z,15,JARDIM CAMBURI,0,0,0,0,0,0,No
26194,1.246589e+13,5723664,M,2016-05-20T08:29:12Z,2016-05-20T00:00:00Z,58,ITARARÉ,0,0,0,1,0,0,No

In [14]:
train.to_csv('train.csv', index=False) 
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [15]:
test.to_csv('test.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!